<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${titulo}">Nova Locação</title>
</head>
<body>
<main layout:fragment="conteudo" class="max-w-4xl mx-auto">
    <div id="wizard-content"
         hx-get="/locacao/etapa1"
         hx-trigger="load"
         class="bg-white p-8 rounded-lg shadow-md">

        <p class="text-center">Carregando formulário...</p>
    </div>
</main>
</body>
</html>